body {
    background-color: black;
    color: #0000ff;
}
#cbcc {
    text-align: center;
    text-decoration: dashed;
}
label {
    display: block;
}
ul {
    border: 1px, solid;
    border-radius: 10px;
}